<template>
	<div class="qdp-list-layout">
		<!-- 搜索 -->
		<!-- 搜索-END -->
		<!-- 操作栏 -->
		<el-row class="qdp-list-content qdp-el-action" type="flex" justify="end" align="top">
			<el-button size="small" type="text" title="返回"    @click="onPost('action-bar','back')"><i class="el-icon-ion-arrow-left-a"></i></el-button>
			<el-button size="small" type="text" title="刷新"    @click="onPost('action-bar','reload')"><i class="el-icon-ion-refresh"></i></el-button>
			<el-button size="small" type="text" title="添加根节点" @click="onPost('action-bar','add')"><i class="el-icon-ion-plus-round"></i></el-button>
			<el-button size="small" type="text" title="添加子节点" @click="onPost('action-bar','addChild')"><i class="el-icon-ion-plus-circled"></i></el-button>
			<el-button size="small" type="text" title="修改"    @click="onPost('action-bar','edit')"><i class="el-icon-edit"></i></el-button>
			<el-button size="small" type="text" title="详情"    @click="onPost('action-bar','info')"><i class="el-icon-ion-information"></i></el-button>
			<el-button size="small" type="text" title="删除"    @click="onPost('action-bar','delete')"><i class="el-icon-ion-trash-b"></i></el-button>

		</el-row>
		<!-- 操作栏-END- -->
		<!-- 列表 -->
		<!-- 列表-END -->
		<!-- 分页 -->
		<!-- 分页-END -->
		<!-- 树 -->
		<el-row class="qdp-list-content qdp-tree-form" type="flex" justify="center" align="top">
			<el-col :span="6">
				<el-tree :highlight-current="true" :show-checkbox="false" node-key="id" :data="tree.data" :default-checked-keys="tree.checked" :default-expanded-keys="tree.expanded" :props="tree.props"
					@node-click="onPost('treeForm', 'node-click', arguments[0], arguments[1])"
					@check-change="onPost('treeForm', 'check-change', arguments[0], arguments[1], arguments[2])"
					:render-content="renderContent" ref="treeForm">
				</el-tree>
			</el-col>
			<el-col :span="18">
				<el-row type="flex" justify="start" align="top" class="qdp-info-form" v-if="infoForm.id">
					<table>
						<tbody>
							<tr><td class="qdp-infoform-title">主键</td><td class="qdp-infoform-content"><div>{{infoForm.id}}</div></td></tr>
							<tr><td class="qdp-infoform-title">菜单名称</td><td class="qdp-infoform-content"><div>{{infoForm.name}}</div></td></tr>
							<tr><td class="qdp-infoform-title">资源</td><td class="qdp-infoform-content"><div>{{infoForm.resourceId}}</div></td></tr>
							<tr><td class="qdp-infoform-title">一级分类</td><td class="qdp-infoform-content"><div><el-tag>{{getOption(infoForm, 'type1')}}</el-tag></div></td></tr>
							<tr><td class="qdp-infoform-title">二级分类</td><td class="qdp-infoform-content"><div><el-tag>{{getOption(infoForm, 'type2')}}</el-tag></div></td></tr>
							<tr><td class="qdp-infoform-title">父菜单</td><td class="qdp-infoform-content"><div>{{infoForm.parentId}}</div></td></tr>
							<tr><td class="qdp-infoform-title">根菜单</td><td class="qdp-infoform-content"><div>{{infoForm.rootId}}</div></td></tr>
							<tr><td class="qdp-infoform-title">菜单排序</td><td class="qdp-infoform-content"><div>{{infoForm.menuIndex}}</div></td></tr>
							<tr><td class="qdp-infoform-title">菜单层次</td><td class="qdp-infoform-content"><div>{{infoForm.maxLevel}}</div></td></tr>
							<tr><td class="qdp-infoform-title">图标</td><td class="qdp-infoform-content"><div>{{infoForm.ico}}</div></td></tr>
							<tr><td class="qdp-infoform-title">描述</td><td class="qdp-infoform-content"><div>{{infoForm.description}}</div></td></tr>
							<tr><td class="qdp-infoform-title">修改时间</td><td class="qdp-infoform-content"><div>{{infoForm.updateTime}}</div></td></tr>
							<tr><td class="qdp-infoform-title">创建时间</td><td class="qdp-infoform-content"><div>{{infoForm.createTime}}</div></td></tr>
						</tbody>
					</table>
				</el-row>
			</el-col>
		</el-row>
		<!-- 树-END -->
		<!-- 添加 -->
		<el-dialog title="添加" :visible.sync="addFormVisible" :close-on-press-escape="false" :close-on-click-modal="false">
			<el-row type="flex" justify="center" align="top">
				<el-form class="qdp-add-form" :model="addForm" :rules="addFormRules" label-width="80px" inline ref="addForm" @keydown.13.native.stop="onPost('addForm', 'submit')">
					<el-form-item label="菜单名称" prop="name">
						<el-input v-model="addForm.name" placeholder="" size="small"></el-input>
					</el-form-item>
					<el-form-item label="资源" prop="resourceIdName" ref="addForm-resourceIdName">
						<el-button icon="search" @click="openDialog('addForm','resourceId')" size="small" type="text"></el-button>
						<div class="el-input el-input--small"><!--列表显示所有的选择-->
							<div class="qdp-modal-list-body" style="border:1px solid #d1dbe5;">
							    <div class="qdp-modal-list" style="max-height: 100px; overflow: auto;">
							    	<table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 100%;">
								        <tr class="el-transfer-panel__item el-table__row" v-for="value in split(addForm, 'resourceIdName')" v-if="value" :key="value">
								        	<td><el-button size="small" type="text" title="删除"   @click="removeSelect(addForm, 'resourceId', value)"><i class="el-icon-ion-trash-b"></i></el-button></td>
								        	<td style="padding-left: 10px;"><span>{{value}}</span></td>
								        </tr>
							    	</table>
							    </div>
							</div>
						</div>
					</el-form-item>
					<el-form-item label="资源" prop="resourceId" v-show="false" ref="addForm-resourceId">
						<el-input v-model="addForm.resourceId" placeholder="" size="small"></el-input>
					</el-form-item>
					<el-form-item label="一级分类" prop="type1">
						<el-select v-model="addForm.type1" clearable placeholder="" size="small">
					    	<el-option label="默认"  value="S"></el-option>
					   	</el-select>
					</el-form-item>
					<el-form-item label="二级分类" prop="type2">
						<el-select v-model="addForm.type2" clearable placeholder="" size="small">
					    	<el-option label="默认"  value="S"></el-option>
					   	</el-select>
					</el-form-item>
					<el-form-item label="菜单排序" prop="menuIndex">
						<el-input-number v-model="addForm.menuIndex" placeholder="" size="small"></el-input-number>
					</el-form-item>
					<el-form-item label="菜单层次" prop="maxLevel">
						<el-input-number v-model="addForm.maxLevel" placeholder="" size="small"></el-input-number>
					</el-form-item>
					<el-form-item label="图标" prop="ico">
						<el-button icon="search" @click="openDialog('addForm','ico')" size="small" type="text"></el-button>
						<el-tag v-if="addForm.ico">{{addForm.ico}}</el-tag>
						<el-button size="small" type="text" v-if="addForm.ico"><i :class="addForm.ico"></i></el-button>
					</el-form-item>
					<el-form-item label="描述" prop="description">
						<el-input v-model="addForm.description" placeholder="" size="small"></el-input>
					</el-form-item>
				</el-form>
			</el-row>
			<el-row type="flex" justify="center" align="top">
				<el-button type="primary" @click="onPost('addForm','reset') " icon="ion-backspace-outline">重置</el-button>
				<el-button type="primary" @click="onPost('addForm','submit')" icon="ion-checkmark">提交</el-button>
			</el-row>
		</el-dialog>
		<!-- 添加-END -->
		<!-- 添加子节点 -->
		<el-dialog title="添加子节点" :visible.sync="addChildFormVisible" :close-on-press-escape="false" :close-on-click-modal="false">
			<el-row type="flex" justify="center" align="top">
				<el-form class="qdp-add-form" :model="addChildForm" :rules="addChildFormRules" label-width="80px" inline ref="addChildForm" @keydown.13.native.stop="onPost('addChildForm', 'submit')">
					<el-form-item label="菜单名称" prop="name">
						<el-input v-model="addChildForm.name" placeholder="" size="small"></el-input>
					</el-form-item>
					<el-form-item label="资源" prop="resourceIdName" ref="addChildForm-resourceIdName">
						<el-button icon="search" @click="openDialog('addChildForm','resourceId')" size="small" type="text"></el-button>
						<div class="el-input el-input--small"><!--列表显示所有的选择-->
							<div class="qdp-modal-list-body" style="border:1px solid #d1dbe5;">
							    <div class="qdp-modal-list" style="max-height: 100px; overflow: auto;">
							    	<table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 100%;">
								        <tr class="el-transfer-panel__item el-table__row" v-for="value in split(addChildForm, 'resourceIdName')" v-if="value" :key="value">
								        	<td><el-button size="small" type="text" title="删除"   @click="removeSelect(addChildForm, 'resourceId', value)"><i class="el-icon-ion-trash-b"></i></el-button></td>
								        	<td style="padding-left: 10px;"><span>{{value}}</span></td>
								        </tr>
							    	</table>
							    </div>
							</div>
						</div>
					</el-form-item>
					<el-form-item label="资源" prop="resourceId" v-show="false" ref="addChildForm-resourceId">
						<el-input v-model="addChildForm.resourceId" placeholder="" size="small"></el-input>
					</el-form-item>
					<el-form-item label="菜单排序" prop="menuIndex">
						<el-input-number v-model="addChildForm.menuIndex" placeholder="" size="small"></el-input-number>
					</el-form-item>
					<el-form-item label="图标" prop="ico">
						<el-button icon="search" @click="openDialog('addChildForm','ico')" size="small" type="text"></el-button>
						<el-tag v-if="addChildForm.ico">{{addChildForm.ico}}</el-tag>
						<el-button size="small" type="text" v-if="addChildForm.ico"><i :class="addChildForm.ico"></i></el-button>
					</el-form-item>
					<el-form-item label="描述" prop="description">
						<el-input v-model="addChildForm.description" placeholder="" size="small"></el-input>
					</el-form-item>
				</el-form>
			</el-row>
			<el-row type="flex" justify="center" align="top">
				<el-button type="primary" @click="onPost('addChildForm','reset') " icon="ion-backspace-outline">重置</el-button>
				<el-button type="primary" @click="onPost('addChildForm','submit')" icon="ion-checkmark">提交</el-button>
			</el-row>
		</el-dialog>
		<!-- 添加子节点-END -->
		<!-- 修改 -->
		<el-dialog title="修改" :visible.sync="editFormVisible" :close-on-press-escape="false" :close-on-click-modal="false">
			<el-row type="flex" justify="center" align="top">
				<el-form class="qdp-edit-form" :model="editForm" :rules="editFormRules" label-width="80px" inline ref="editForm" @keydown.13.native.stop="onPost('editForm', 'submit')">
					<el-form-item label="菜单名称" prop="name">
						<el-input v-model="editForm.name" placeholder="" size="small"></el-input>
					</el-form-item>
					<el-form-item label="资源" prop="resourceIdName" ref="editForm-resourceIdName">
						<el-button icon="search" @click="openDialog('editForm','resourceId')" size="small" type="text"></el-button>
						<div class="el-input el-input--small"><!--列表显示所有的选择-->
							<div class="qdp-modal-list-body" style="border:1px solid #d1dbe5;">
							    <div class="qdp-modal-list" style="max-height: 100px; overflow: auto;">
							    	<table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 100%;">
								        <tr class="el-transfer-panel__item el-table__row" v-for="value in split(editForm, 'resourceIdName')" v-if="value" :key="value">
								        	<td><el-button size="small" type="text" title="删除"   @click="removeSelect(editForm, 'resourceId', value)"><i class="el-icon-ion-trash-b"></i></el-button></td>
								        	<td style="padding-left: 10px;"><span>{{value}}</span></td>
								        </tr>
							    	</table>
							    </div>
							</div>
						</div>
					</el-form-item>
					<el-form-item label="资源" prop="resourceId" v-show="false" ref="editForm-resourceId">
						<el-input v-model="editForm.resourceId" placeholder="" size="small"></el-input>
					</el-form-item>
					<el-form-item label="一级分类" prop="type1">
						<el-select v-model="editForm.type1" clearable placeholder="" size="small">
					    	<el-option label="默认"  value="S"></el-option>
					   	</el-select>
					</el-form-item>
					<el-form-item label="二级分类" prop="type2">
						<el-select v-model="editForm.type2" clearable placeholder="" size="small">
					    	<el-option label="默认"  value="S"></el-option>
					   	</el-select>
					</el-form-item>
					<el-form-item label="父菜单" prop="parentIdName" ref="editForm-parentIdName">
						<el-button icon="search" @click="openDialog('editForm','parentId')" size="small" type="text"></el-button>
						<div class="el-input el-input--small"><!--列表显示所有的选择-->
							<div class="qdp-modal-list-body" style="border:1px solid #d1dbe5;">
							    <div class="qdp-modal-list" style="max-height: 100px; overflow: auto;">
							    	<table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 100%;">
								        <tr class="el-transfer-panel__item el-table__row" v-for="value in split(editForm, 'parentIdName')" v-if="value" :key="value">
								        	<td><el-button size="small" type="text" title="删除"   @click="removeSelect(editForm, 'parentId', value)"><i class="el-icon-ion-trash-b"></i></el-button></td>
								        	<td style="padding-left: 10px;"><span>{{value}}</span></td>
								        </tr>
							    	</table>
							    </div>
							</div>
						</div>
					</el-form-item>
					<el-form-item label="父菜单" prop="parentId" v-show="false" ref="editForm-parentId">
						<el-input v-model="editForm.parentId" placeholder="" size="small"></el-input>
					</el-form-item>
					<el-form-item label="根菜单" prop="rootIdName" ref="editForm-rootIdName">
						<el-button icon="search" @click="openDialog('editForm','rootId')" size="small" type="text"></el-button>
						<div class="el-input el-input--small"><!--列表显示所有的选择-->
							<div class="qdp-modal-list-body" style="border:1px solid #d1dbe5;">
							    <div class="qdp-modal-list" style="max-height: 100px; overflow: auto;">
							    	<table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 100%;">
								        <tr class="el-transfer-panel__item el-table__row" v-for="value in split(editForm, 'rootIdName')" v-if="value" :key="value">
								        	<td><el-button size="small" type="text" title="删除"   @click="removeSelect(editForm, 'rootId', value)"><i class="el-icon-ion-trash-b"></i></el-button></td>
								        	<td style="padding-left: 10px;"><span>{{value}}</span></td>
								        </tr>
							    	</table>
							    </div>
							</div>
						</div>
					</el-form-item>
					<el-form-item label="根菜单" prop="rootId" v-show="false" ref="editForm-rootId">
						<el-input v-model="editForm.rootId" placeholder="" size="small"></el-input>
					</el-form-item>
					<el-form-item label="菜单排序" prop="menuIndex">
						<el-input-number v-model="editForm.menuIndex" placeholder="" size="small"></el-input-number>
					</el-form-item>
					<el-form-item label="菜单层次" prop="maxLevel">
						<el-input-number v-model="editForm.maxLevel" placeholder="" size="small"></el-input-number>
					</el-form-item>
					<el-form-item label="图标" prop="ico">
						<el-button icon="search" @click="openDialog('editForm','ico')" size="small" type="text"></el-button>
						<el-tag v-if="editForm.ico">{{editForm.ico}}</el-tag>
						<el-button size="small" type="text" v-if="editForm.ico"><i :class="editForm.ico"></i></el-button>
					</el-form-item>
					<el-form-item label="描述" prop="description">
						<el-input v-model="editForm.description" placeholder="" size="small"></el-input>
					</el-form-item>
				</el-form>
			</el-row>
			<el-row type="flex" justify="center" align="top">
				<el-button type="primary" @click="onPost('editForm','reset') " icon="ion-backspace-outline">重置</el-button>
				<el-button type="primary" @click="onPost('editForm','submit')" icon="ion-checkmark">提交</el-button>
			</el-row>
		</el-dialog>
		<!-- 修改-END -->
		<!-- 详情 -->
		<el-dialog title="详情" :visible.sync="infoFormVisible">
			<el-row type="flex" justify="center" align="top" class="qdp-info-form">
				<table>
					<tbody>
						<tr><td class="qdp-infoform-title">主键</td><td class="qdp-infoform-content"><div>{{infoForm.id}}</div></td></tr>
						<tr><td class="qdp-infoform-title">菜单名称</td><td class="qdp-infoform-content"><div>{{infoForm.name}}</div></td></tr>
						<tr><td class="qdp-infoform-title">资源</td><td class="qdp-infoform-content"><div><el-tag>{{infoForm.resourceIdName||""}}</el-tag></div></td></tr>
						<tr><td class="qdp-infoform-title">一级分类</td><td class="qdp-infoform-content"><div><el-tag>{{getOption(infoForm, 'type1')}}</el-tag></div></td></tr>
						<tr><td class="qdp-infoform-title">二级分类</td><td class="qdp-infoform-content"><div><el-tag>{{getOption(infoForm, 'type2')}}</el-tag></div></td></tr>
						<tr><td class="qdp-infoform-title">父菜单</td><td class="qdp-infoform-content"><div><el-tag>{{infoForm.parentIdName||""}}</el-tag></div></td></tr>
						<tr><td class="qdp-infoform-title">根菜单</td><td class="qdp-infoform-content"><div><el-tag>{{infoForm.rootIdName||""}}</el-tag></div></td></tr>
						<tr><td class="qdp-infoform-title">菜单排序</td><td class="qdp-infoform-content"><div>{{infoForm.menuIndex}}</div></td></tr>
						<tr><td class="qdp-infoform-title">菜单层次</td><td class="qdp-infoform-content"><div>{{infoForm.maxLevel}}</div></td></tr>
						<tr><td class="qdp-infoform-title">图标</td><td class="qdp-infoform-content"><div>{{infoForm.ico}}</div></td></tr>
						<tr><td class="qdp-infoform-title">描述</td><td class="qdp-infoform-content"><div>{{infoForm.description}}</div></td></tr>
						<tr><td class="qdp-infoform-title">修改时间</td><td class="qdp-infoform-content"><div>{{infoForm.updateTime}}</div></td></tr>
						<tr><td class="qdp-infoform-title">创建时间</td><td class="qdp-infoform-content"><div>{{infoForm.createTime}}</div></td></tr>
					</tbody>
				</table>
			</el-row>
		</el-dialog>
		<!-- 详情-END -->
		<!-- 图标选择 -->
		<el-dialog class="qdp-form-dialog" title="IconPanel" :visible.sync="icoVisible" v-if="icoVisible">
			<el-row type="flex" justify="center" align="top">
				<Icon-panel v-if="currentFormName" :value.sync="this[currentFormName]" :multi="false" :field="'ico'" :id-field="'id'"></Icon-panel>
			</el-row>
			<el-row type="flex" justify="center" align="top" class="qdp-dialog-btns">
				<el-button type="primary" @click="resetSelectionLabel(currentFormName, 'ico'),icoVisible=false" icon="ion-backspace-outline">重置</el-button>
				<el-button type="primary" @click="getSelectionLabel(currentFormName, 'ico', 'name'),icoVisible=false" icon="ion-checkmark">选择</el-button>
			</el-row>
		</el-dialog>
		<!-- 图标选择-END -->
		<!-- 弹出选择：分配资源 -->
		<el-dialog class="qdp-form-dialog" title="分配资源" :visible.sync="resourceIdVisible" v-if="resourceIdVisible">
			<el-row type="flex" justify="center" align="top">
				<el-col :span="24">
					<Resourceid v-if="currentFormName" :value.sync="this[currentFormName]" :multi="false" :field="'resourceId'" :id-field="'id'" :enums="enums"></Resourceid>
				</el-col>
			</el-row>
			<el-row type="flex" justify="center" align="top" class="qdp-dialog-btns">
				<el-button type="primary" @click="resetSelectionLabel(currentFormName, 'resourceId'),resourceIdVisible=false" icon="ion-backspace-outline">重置</el-button>
				<el-button type="primary" @click="getSelectionLabel(currentFormName, 'resourceId', 'name'),resourceIdVisible=false" icon="ion-checkmark">选择</el-button>
			</el-row>
		</el-dialog>
		<!-- 弹出选择：分配资源-END -->
	</div>
</template>
<script type="text/javascript">
	define([ 'vue', 'vuel!pages/components/IconPanel.html', 'vuel!pages/system/auth/authmenu/resourceId.html'], function(Vue, IconPanel, Resourceid) {
		return {
			template : template, //
			components : {
				IconPanel: IconPanel, Resourceid: Resourceid
			},
			data : function() {
				return {
					icoVisible : false,
					resourceIdVisible : false,
					//===
					hotKey : {
						controlKey : 0, keyAction : {
							'b' : 'back', 'r' : 'reload', 'a' : 'add', 'z' : 'addChild', 'e' : 'edit', 'i' : 'info', 'd' : 'delete'
						}
					},
					currentFormName : '',//addForm, editForm
					searchForm : {
					},
					addFormUrl : '/ws/json/authMenuApplication/addAuthMenu',
					addFormVisible : false,
					addForm : {
						name : null, resourceId : null, resourceIdName : '', resourceIdSelections : [], type1 : null, type2 : null, parentId : null, parentIdName : '', parentIdSelections : [], rootId : null, rootIdName : '', rootIdSelections : [], menuIndex : null, maxLevel : null, ico : null, description : null
					},
					addFormRules : {"name":[{"type":"string","message":"菜单名称必须为string类型"},{"required":true,"message":"菜单名称不能为空"},{"min":1.0,"max":100.0,"message":"菜单名称范围1至100"}],"resourceId":[{"type":"string","message":"资源必须为string类型"},{"required":true,"message":"资源不能为空"},{"min":1.0,"max":40.0,"message":"资源范围1至40"}],"type1":[{"type":"string","message":"一级分类必须为string类型"},{"required":true,"message":"一级分类不能为空"},{"min":1.0,"max":40.0,"message":"一级分类范围1至40"}],"type2":[{"type":"string","message":"二级分类必须为string类型"},{"required":true,"message":"二级分类不能为空"},{"min":1.0,"max":40.0,"message":"二级分类范围1至40"}],"parentId":[{"type":"string","message":"父菜单必须为string类型"},{"min":0.0,"max":40.0,"message":"父菜单范围0至40"}],"rootId":[{"type":"string","message":"根菜单必须为string类型"},{"required":true,"message":"根菜单不能为空"},{"min":1.0,"max":40.0,"message":"根菜单范围1至40"}],"description":[{"type":"string","message":"描述必须为string类型"},{"min":0.0,"max":200.0,"message":"描述范围0至200"}]},
					editFormUrl : '/ws/json/authMenuApplication/updateAuthMenu',
					editFormVisible : false,
					editForm : {
						name : null, resourceId : null, resourceIdName : '', resourceIdSelections : [], type1 : null, type2 : null, parentId : null, parentIdName : '', parentIdSelections : [], rootId : null, rootIdName : '', rootIdSelections : [], menuIndex : null, maxLevel : null, ico : null, description : null
					},
					editFormRules : {"name":[{"type":"string","message":"菜单名称必须为string类型"},{"required":true,"message":"菜单名称不能为空"},{"min":1.0,"max":100.0,"message":"菜单名称范围1至100"}],"resourceId":[{"type":"string","message":"资源必须为string类型"},{"required":true,"message":"资源不能为空"},{"min":1.0,"max":40.0,"message":"资源范围1至40"}],"type1":[{"type":"string","message":"一级分类必须为string类型"},{"required":true,"message":"一级分类不能为空"},{"min":1.0,"max":40.0,"message":"一级分类范围1至40"}],"type2":[{"type":"string","message":"二级分类必须为string类型"},{"required":true,"message":"二级分类不能为空"},{"min":1.0,"max":40.0,"message":"二级分类范围1至40"}],"parentId":[{"type":"string","message":"父菜单必须为string类型"},{"min":0.0,"max":40.0,"message":"父菜单范围0至40"}],"rootId":[{"type":"string","message":"根菜单必须为string类型"},{"required":true,"message":"根菜单不能为空"},{"min":1.0,"max":40.0,"message":"根菜单范围1至40"}],"description":[{"type":"string","message":"描述必须为string类型"},{"min":0.0,"max":200.0,"message":"描述范围0至200"}]},
					infoFormVisible : false,
					infoForm : {
						id : null, name : null, resourceId : null, resourceIdName : '', resourceIdSelections : [], type1 : null, type2 : null, parentId : null, parentIdName : '', parentIdSelections : [], rootId : null, rootIdName : '', rootIdSelections : [], menuIndex : null, maxLevel : null, ico : null, description : null, updateTime : null, createTime : null
					},
					deleteFormUrl : '/ws/json/authMenuApplication/removeAuthMenuById',
					addChildFormUrl : '/ws/json/authMenuApplication/addAuthMenu',
					addChildFormVisible : false,
					addChildForm : {
						name : null, resourceId : null, resourceIdName : '', resourceIdSelections : [], type1 : null, type2 : null, parentId : null, parentIdName : '', parentIdSelections : [], rootId : null, rootIdName : '', rootIdSelections : [], menuIndex : null, maxLevel : null, ico : null, description : null
					},
					addChildFormRules : {"name":[{"type":"string","message":"菜单名称必须为string类型"},{"required":true,"message":"菜单名称不能为空"},{"min":1.0,"max":100.0,"message":"菜单名称范围1至100"}],"resourceId":[{"type":"string","message":"资源必须为string类型"},{"required":true,"message":"资源不能为空"},{"min":1.0,"max":40.0,"message":"资源范围1至40"}],"type1":[{"type":"string","message":"一级分类必须为string类型"},{"required":true,"message":"一级分类不能为空"},{"min":1.0,"max":40.0,"message":"一级分类范围1至40"}],"type2":[{"type":"string","message":"二级分类必须为string类型"},{"required":true,"message":"二级分类不能为空"},{"min":1.0,"max":40.0,"message":"二级分类范围1至40"}],"parentId":[{"type":"string","message":"父菜单必须为string类型"},{"min":0.0,"max":40.0,"message":"父菜单范围0至40"}],"rootId":[{"type":"string","message":"根菜单必须为string类型"},{"required":true,"message":"根菜单不能为空"},{"min":1.0,"max":40.0,"message":"根菜单范围1至40"}],"description":[{"type":"string","message":"描述必须为string类型"},{"min":0.0,"max":200.0,"message":"描述范围0至200"}]},
					enums : {"index":{"type1":{"S":"默认"},"type2":{"S":"默认"}},"parentId":{"type1":{"S":"默认"},"type2":{"S":"默认"}},"rootId":{"type1":{"S":"默认"},"type2":{"S":"默认"}},"resourceId":{"status":{"Y":"可用","N":"停用"},"type1":{"S":"默认"},"type2":{"S":"默认","MENU":"菜单","URL":"URL","BUTTON":"按钮","OTHER":"其他"}}},
					tree : {
						url : '/ws/json/authMenuApplication/pageFindAuthMenuMap/arg0={{d.vo}}/arg1={{d.page}}',
						query : qdpObj({}, 'vo', {}, 'page', qdpObj({}, 'pageSize', 1000, 'currentPage', 1, 'orderBy', [])), oneSelection : null,
						multiSelection : [], checked:[], expanded:[], props:{label: 'name', children:'children'}, data : []
					}
				};
			}, //
			created : function() {
				this.loadTree();
			}, //
			mounted : function() {
				//快捷键
				document.addEventListener('keyup', this.onHotKey);
				document.addEventListener('keydown', this.onHotKey);
			},//
			beforeDestroy : function() {
				//快捷键
				document.removeEventListener('keyup', this.onHotKey);
				document.removeEventListener('keydown', this.onHotKey);
			},//
			methods : {
				cache : getters.cache,//
				accountId : getters.accountId,//
				qdpIcon: function(config, value) {
	                return qdpIcon(config, value) || 'el-icon-ion-android-menu';
	            },//
				// 加载Tree
				loadTree : function() {
					var root = this, tree = root.tree;
					var query = tree.query, url = tree.url, params = params || {}, prefix="authmenu";
					query.page && params.orderBy && (query.page.orderBy = params.orderBy);
					query.page && qdpIsNumber(params.pageSize) && (query.page.pageSize = params.pageSize || 1) && (query.page.currentPage = 1);
					query.page && qdpIsNumber(params.currentPage) && (query.page.currentPage = params.currentPage);
					query = qdpCombine(root.queryContext(), query);
					qdpMap(root.queryContext(), function(value, key){//把当前上下文参数传给VO
						(query.vo||{})[key] = value;
					});
					url = qdpFormatUrl(ctx + url, query);//把参数替换到URL中去
					LOG("FN: tree-load-data.url=" + url);
					var callback = function(arr){
						var treeData = [];
						//如果设置分组，或检测到可以分组的进行自动按分组组装成树
						if (tree.groupFields||(arr && arr.length>0 && !arr[0].parentId && !arr[0].rootId && arr[0].type1 && arr[0].type2)) {
							treeData = qdpGroupByTree(tree.groupFields, arr, tree.labelField || "name", tree.idField || "id", tree.pidField || "parentId",
									tree.isExpand !== false, tree.checked || [], tree.disabled || []);
						} else {
							treeData = qdpTree(arr, tree.labelField || "name", tree.idField || "id", tree.pidField || "parentId", tree.isExpand !== false,
									tree.checked || [], tree.disabled || []);
						}
						Vue.set(tree, 'data', treeData);
					};
					root.$http.get(url).then(function(data) {
						var all = qdpAjaxDataBody(data) || [], arr = qdpIsArray(all) ? all : (all.rows || []);//要考虑返回是一个Page对象的情况
						callback(arr);
					}, function(response) {
						root.$notify({
							title : 'Http=>Error', desc : response.url + '\n<br/>' + qdpToString(response), duration : 0
						});
					});
				},
				// 返回选择项的值
				getOption : function(data, field) {
					var fieldName = field.property || field, enums = ((this.enums || {}).index||{})[fieldName] || {};
					var value = data[fieldName];
					var option = enums[value == null ? '' : value];
					return option == null ? (value == null ? '' : value) : option;
				},
				// 返回选择数据的值
				getSelectionLabel : function(formName, field, labelField) {
					var form = this[formName], names = [], ids = [], datas = form[field + 'Selections'];
					qdpMap(datas, function(value) {
						names.push(value[labelField]);
						ids.push(value.id);
					});
					form[field + 'Name'] = names.join(',');
					form[field] = ids.join(',');
					return;
				},
				// 重置选择数据的值
				resetSelectionLabel : function(formName, field) {
					var ref = this.$refs[formName + '-' + field], ref2 = this.$refs[formName + '-' + field + 'Name'];
					ref && ref.resetField();
					ref2 && ref2.resetField();
					this[formName][field + 'Selections'] = [];
				},
				// 分割字符串，预防空值
				split : function(value, fieldName) {
					return ((value||{})[fieldName]||',').split(',');
				},
				// 删除选择项
				removeSelect : function(form, field, value) {
					var root = this, names = root.split(form, field+'Name'), ids = root.split(form, field);
					var index = names.indexOf(value);
					if(index > -1 && names.length == ids.length){
						names.splice(index,1), ids.splice(index,1);
						form[field+'Name']=names.join(','), form[field]=ids.join(',');
					}
				},
				// 展现树节点
				renderContent: function(h, node_data_store){
					var root=this, node=node_data_store.node, data=node_data_store.data, store=node_data_store.start;
					return h('span', {'class': 'el-tree-node__label'}, [
								h('i', {'class': root.qdpIcon(root.tree, data)}),
								qdpLabel(root.tree, data)
							]);
				},
				// 热键，默认就是Ctrl+其他键
				onHotKey : function(event) {
					var root = this;
					if (event.type == "keyup") {
						root.hotKey.controlKey = null;
						return;
					}
					if (event.type != "keydown") {
						return;
					}
					// 获取键值, Ctrl=17, Alt=18, Shit=16, Command=224
					var keyCode = event.keyCode;
					if (keyCode == 17) {
						root.hotKey.controlKey = 17;
						return;
					}
					var keyValue = String.fromCharCode(event.keyCode).toLowerCase();
					if (root.hotKey.controlKey < 1) {
						return;
					}
					var map = root.hotKey.keyAction, value = map[keyValue];
					if (!value) {
						return;
					}
					LOG("FN: onHotKey.Ctrl+" + keyValue);
					event.stopPropagation(), event.preventDefault(); // 阻止事件冒泡 // 阻止该元素默认的keyup事件
					root.onPost('action-bar', value);
				},
				// 打开弹窗
				openDialog : function(formName, field) {
					var root = this;
					root.currentFormName = formName, root[field + 'Visible'] = true;
				},
				// 查询上下文
				queryContext : function(value) {
					var qc = qdpSGetItem('queryContext', {});
					if (value === null || value != null) {
						qc.authmenuId = value;
						qdpSSetItem('queryContext', qc);
					}
					return qc;
				},
				// 清除表单多余项
				clearForm : function(formJson) {
					var keys = [];
					qdpMap(formJson, function(value, key) {
						if (((key + 'Selections') in formJson) && (key + 'Name') in formJson) {
							keys.push(key + 'Selections');
							keys.push(key + 'Name');
						}
					});
					qdpMap(keys, function(value, key) {
						delete formJson[value];
					});
					return formJson;
				},
				//
				onPost : function(eventType, arg0, arg1, arg2, arg3) {
					LOG("EV: onPost." + eventType);
					var root = this;
					if ("searchForm" == eventType) {
						LOG("searchForm:" + arg0);
						var action = arg0;
						if ('reset' == arg0) {
							root.$refs.searchForm.resetFields();
							qdpMap(root.searchForm, function(value, key) {
								root.tree.query.vo[key] = value;
							});
						}
						if ('search' == arg0) {
							qdpMap(root.searchForm, function(value, key) {
								root.tree.query.vo[key] = value;
							});
						}
						root.loadTree();
					}
					if ("action-bar" == eventType) {
						LOG("action-bar:" + arg0);
						var action = arg0;
						if ('back' == action) {
							Router.go(-1);
							return;
						}
						if ('refresh' == action) {
							root.loadTree();
							return;
						}
						if ('add' == action) {
							root.addFormVisible = true;
							return;
						}
						if ('addChild' == action) {
							var one = root.tree.oneSelection;
							if (one == null) {
								root.$message.info("请选择数据!");
								return;
							}
							root.addChildForm = qdpCombine({
								resourceId : '', resourceIdName : '', resourceIdSelections : [], parentId : '', parentIdName : '', parentIdSelections : [], rootId : '', rootIdName : '', rootIdSelections : []
							}, {});
							qdpMap(['type1','type2','rootId'], function(value, key){
								(one[value] != null) && (root.addChildForm[value] = one[value]);
							});
							(one.id != null) && (root.addChildForm.parentId = one.id);
							//
							qdpMap(root.addChildForm, function(value, field) {
								var loadData = root[field + 'LoadData'];
								if (!loadData) {
									return;
								}
								var url = loadData.url, query = qdpCombine(root.queryContext(), loadData.query), prefix="authmenu";
								qdpMap(root.queryContext(), function(value, key){//把当前上下文参数传给VO
									if(key.indexOf(prefix) == 0){
										var newKey = key.substring(prefix.length);
										newKey = newKey.substring(0, 1).toLowerCase() + newKey.substring(1);
										(query.vo||{})[newKey] = value;
									}else{
										(query.vo||{})[key] = value;
									}
								});
								var processor = typeof (loadData.callback) == 'function' ? loadData.callback : noop;
								url = qdpFormatUrl(ctx + url, query);
								LOG("FN: edit-load-data.url=" + url);
								root.$http.get(url).then(function(data) {
									processor.call(root, qdpAjaxDataBody(data), null, 'editForm');
								}, function(response) {
									root.$notify({
										title : 'Http=>Error', desc : response.url + '\n<br/>' + qdpToString(response), duration : 0
									});
									processor.call(root, null, null, 'addChildForm');
								});
							});
							root.addChildFormVisible = true;
							root.queryContext.authmenuId = root.tree.oneSelection.id;
							return;
						}
						if ('edit' == action) {
							if (root.tree.oneSelection == null) {
								root.$message.info("请选择数据!");
								return;
							}
							root.editForm = qdpCombine({
								resourceId : '', resourceIdName : '', resourceIdSelections : [], parentId : '', parentIdName : '', parentIdSelections : [], rootId : '', rootIdName : '', rootIdSelections : []
							}, root.tree.oneSelection);
							//
							qdpMap(root.editForm, function(value, field) {
								var loadData = root[field + 'LoadData'];
								if (!loadData) {
									return;
								}
								var url = loadData.url, query = qdpCombine(root.queryContext(), loadData.query), prefix="authmenu";
								qdpMap(root.queryContext(), function(value, key){//把当前上下文参数传给VO
									if(key.indexOf(prefix) == 0){
										var newKey = key.substring(prefix.length);
										newKey = newKey.substring(0, 1).toLowerCase() + newKey.substring(1);
										(query.vo||{})[newKey] = value;
									}else{
										(query.vo||{})[key] = value;
									}
								});
								var processor = typeof (loadData.callback) == 'function' ? loadData.callback : noop;
								url = qdpFormatUrl(ctx + url, query);
								LOG("FN: edit-load-data.url=" + url);
								root.$http.get(url).then(function(data) {
									processor.call(root, qdpAjaxDataBody(data), null, 'editForm');
								}, function(response) {
									root.$notify({
										title : 'Http=>Error', desc : response.url + '\n<br/>' + qdpToString(response), duration : 0
									});
									processor.call(root, null, null, 'editForm');
								});
							});
							root.editFormVisible = true;
							root.queryContext.authmenuId = root.tree.oneSelection.id;
							return;
						}
						if ('delete' == action) {
							root.onPost('deleteForm');
							return;
						}
						if ('info' == action) {
							if (root.tree.oneSelection == null) {
								root.$message.info("请选择数据!");
								return;
							}
							root.infoForm = qdpJsonCopy(root.tree.oneSelection);
							root.infoFormVisible = true;
							return;
						}
						if (root[action + 'Visible'] != null) {
							if (root.tree.oneSelection == null) {
								root.$message.info("请选择数据!");
								return;
							}
							root[action + 'Form'] = qdpCombine(root[action + 'Form'], root.tree.oneSelection);
							root.currentFormName = action + 'Form', root[action + 'Visible'] = true;
							root.queryContext.authmenuId = root.tree.oneSelection.id;
							return;
						}
					}
					if ('treeForm' == eventType) {
						LOG("treeForm:" + arg0);
						var action = arg0, tree = root.tree;
						if ('check-change' == action) {
							var cheched = root.$refs.treeForm.getCheckedNodes(true);
							Vue.set(tree, 'multiSelection', cheched);
						}
						if ('node-click' == action) {
							var data=arg1, nodeData=arg2, $node=arg3;
							tree.oneSelection = data;
							data && (root.infoForm = qdpJsonCopy(tree.oneSelection));
							root.queryContext(qdpId(root, tree.oneSelection));
						}
						return;
					}
					if ('addForm' == eventType) {
						LOG("addForm:" + arg0);
						var action = arg0, $addForm = root.$refs.addForm, addForm = root.addForm;
						if ('reset' == action) {
							$addForm.resetFields();
						}
						if ('submit' == action) {
							var contextCondition = {}, formData, url;
							var success = function(data) {
								if (qdpIsSuccess(data)) {
									root.$message.success('成功');
									root.addFormVisible = false;
									root.loadTree();
									$addForm.resetFields();
								} else {
									root.$notify({
										title : 'Form Post=>Error', message : url + '\n<br/>' + qdpToString(qdpAjaxData(data)), duration : 0, type : 'error'
									});
								}
							};
							var error = function(response) {
								root.$notify({
									title : 'Http=>Error', desc : response.url + '\n<br/>' + qdpToString(response), duration : 0
								});
							};
							var valid = function(valid) {
								if (!valid) {
									return;
								}
								root.$http.post(url, formData).then(success, error);
							};
							var then = function() {
								formData = qdpJsonForm({arg0 : root.clearForm(qdpJsonCopy(addForm))});
								//submit form
								url = qdpFormatUrl(ctx + root.addFormUrl, contextCondition);
								LOG("FN: addForm.url=" + url);
								$addForm.validate(valid);
							};
							var confirm = {
								confirmButtonText : '确定', cancelButtonText : '取消', type : 'warning'
							};
							root.$confirm('提交表单', '提示', confirm).then(then)['catch'](noop);
						}
						return;
					}
					if ('addChildForm' == eventType) {
						LOG("addChildForm:" + arg0);
						var action = arg0, $addChildForm = root.$refs.addChildForm, addChildForm = root.addChildForm;
						if ('reset' == action) {
							$addChildForm.resetFields();
						}
						if ('submit' == action) {
							var contextCondition = {}, formData, url;
							var success = function(data) {
								if (qdpIsSuccess(data)) {
									root.$message.success('成功');
									$addChildForm.resetFields();
									root.addChildFormVisible = false;
									root.loadTree();
								} else {
									root.$notify({
										title : 'Form Post=>Error', message : url + '\n<br/>' + qdpToString(qdpAjaxData(data)), duration : 0, type : 'error'
									});
								}
							};
							var error = function(response) {
								root.$notify({
									title : 'Http=>Error', desc : response.url + '\n<br/>' + qdpToString(response), duration : 0
								});
							};
							var valid = function(valid) {
								if (!valid) {
									return;
								}
								root.$http.post(url, formData).then(success, error);
							};
							var then = function() {
								formData = qdpJsonForm({arg0 : root.clearForm(qdpJsonCopy(addChildForm))});
								//submit form
								url = qdpFormatUrl(ctx + root.addChildFormUrl, contextCondition);
								LOG("FN: addChildForm.url=" + url);
								$addChildForm.validate(valid);
							};
							var confirm = {
								confirmButtonText : '确定', cancelButtonText : '取消', type : 'warning'
							};
							root.$confirm('提交表单', '提示', confirm).then(then)['catch'](noop);
						}
						return;
					}//addChildForm-END
					if ('editForm' == eventType) {
						LOG("editForm:" + arg0);
						var action = arg0, $editForm = root.$refs.editForm, editForm = root.editForm;
						if ('reset' == action) {
							$editForm.resetFields();
						}
						if ('submit' == action) {
							var contextCondition = {}, formData, url;
							var success = function(data) {
								if (qdpIsSuccess(data)) {
									root.$message.success('成功');
									$editForm.resetFields();
									root.editFormVisible = false;
									root.loadTree();
								} else {
									root.$notify({
										title : 'Form Post=>Error', message : url + '\n<br/>' + qdpToString(qdpAjaxData(data)), duration : 0, type : 'error'
									});
								}
							};
							var error = function(response) {
								root.$notify({
									title : 'Http=>Error', desc : response.url + '\n<br/>' + qdpToString(response), duration : 0
								});
							};
							var valid = function(valid) {
								if (!valid) {
									return;
								}
								root.$http.post(url, formData).then(success, error);
							};
							var then = function() {
								formData = qdpJsonForm({arg0 : root.clearForm(qdpJsonCopy(editForm))});
								//submit form
								url = qdpFormatUrl(ctx + root.editFormUrl, contextCondition);
								LOG("FN: editForm.url=" + url);
								$editForm.validate(valid);
							};
							var confirm = {
								confirmButtonText : '确定', cancelButtonText : '取消', type : 'warning'
							};
							root.$confirm('提交表单', '提示', confirm).then(then)['catch'](noop);
						}
						return;
					}//editForm-END
					if ('deleteForm' == eventType) {
						var action = arg0, deleteForm = root.tree.oneSelection?[root.tree.oneSelection]:[];
						var contextCondition = {}, formData, url, messages;
						{
							formData = [], messages = [];
							if (deleteForm && deleteForm.length < 1) {
								root.$message.info("请选择数据!");
								return;
							}
							qdpMap(deleteForm, function(value) {
								formData.push(qdpId(root, value));
								messages.push(qdpLabel(root, value));
							});
						}
						var success = function(data) {
							if (qdpIsSuccess(data)) {
								root.$message.success('成功');
								root.loadTree();
							} else {
								root.$notify({
									title : 'Form Post=>Error', message : url + '\n<br/>' + qdpToString(qdpAjaxData(data)), duration : 0, type : 'error'
								});
							}
						};
						var error = function(response) {
							root.$notify({
								title : 'Http=>Error', desc : response.url + '\n<br/>' + qdpToString(response), duration : 0
							});
						};
						var then = function() {
							//submit form
							url = qdpFormatUrl(ctx + root.deleteFormUrl, contextCondition);
							LOG("FN: deleteForm.url=" + url);
							root.$http.post(url, {
								arg0 : formData.join(',')
							}).then(success, error);
						};
						var confirm = {
							confirmButtonText : '确定', cancelButtonText : '取消', type : 'warning'
						};
						root.$confirm('确定删除：' + messages.join(','), '提示', confirm).then(then)['catch'](noop);
						return;
					}//deleteForm-END
					if (eventType.endsWith('Form')) {
						LOG(eventType + ":" + arg0);
						var action = arg0, $form = root.$refs[eventType], form = root[eventType], actionBarName = eventType.substring(0, eventType
								.indexOf('Form'));
						if ('reset' == action) {
							$form.resetFields();
						}
						if ('submit' == action) {
							var contextCondition = {}, formData, url;
							var success = function(data) {
								if (qdpIsSuccess(data)) {
									root.$message.success('成功');
									root[actionBarName + 'Visible'] = false;
									root.loadTree();
									$form.resetFields();
								} else {
									root.$notify({
										title : 'Form Post=>Error', message : url + '\n<br/>' + qdpToString(qdpAjaxData(data)), duration : 0, type : 'error'
									});
								}
							};
							var error = function(response) {
								root.$notify({
									title : 'Http=>Error', desc : response.url + '\n<br/>' + qdpToString(response), duration : 0
								});
							};
							var valid = function(valid) {
								if (!valid) {
									return;
								}
								root.$http.post(url, formData).then(success, error);
							};
							var then = function() {
								formData = qdpJsonForm({arg0 : root.clearForm(qdpJsonCopy(form))});
								//submit form
								url = qdpFormatUrl(ctx + root[eventType + 'Url'], contextCondition);
								LOG("FN: form.url=" + url);
								$form.validate(valid);
							};
							var confirm = {
								confirmButtonText : '确定', cancelButtonText : '取消', type : 'warning'
							};
							root.$confirm('提交表单', '提示', confirm).then(then)['catch'](noop);
						}
						return;
					}//*Form-END
				}
			}
		};
	});
</script>

