<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="hello" version="3.0">
	<display-name>hello</display-name>
	<filter>
		<filter-name>tcfilter</filter-name>
		<filter-class>org.iff.groovy.framework.TCFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>tcfilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>gsp</servlet-name>
		<servlet-class>groovy.servlet.TemplateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gsp</servlet-name>
		<url-pattern>*.gsp</url-pattern>
	</servlet-mapping>
</web-app>
